html
    head
        link(href='css/style.css', rel='stylesheet', type='text/css')
    body
        nav(class='navBar')
            a(href="/")="Home"
            if(isAdmin)
                a(href="https://www.google.com/")='Admin Page'
            


