html
    head
        title="Home Page"
        link(href='/css/style.css', rel='stylesheet', type='text/css')
    body
        nav(class='navBar')
            a(href="/")="Home"
            if role == "admin"
                a(id="menuItem" href="/admin") Admin Page
            


