html
    head
        title="Home Page"
        link(href='/css/style.css', rel='stylesheet', type='text/css')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js")
        script(src='/js/chartsController.js')
    body
        div(class="navBarDiv")
            nav(class='navBar')
                a(href="/" id="menuItem")="Login"
                if role == "admin"
                    a(id="menuItem" href="/admin") Admin Page
        div(class="allCharts")
            span(class="chart1")
                canvas(id="userChart1" width="400" height="400")
            span(class="chart2")
                canvas(id="userChart2" width="400" height="400")
            span(class="chart3")
                canvas(id="userChart3" width="400" height="400")
        
