#menuItem{
    text-align: center;
    padding: 3px;
    padding-right: 10px;
}

.pageInfoDiv{
    text-align: center;
    padding-top: 1%;
}

.loginMenu{
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgb(223, 219, 219);
    border-radius: 3%;
}

#registerButton{
    font-size: 16pt;
}

#usernameInputDiv{
    padding-bottom: 10px;
}

#loginText{
    font-size: 16pt;
    padding-right: 10px;
}

#loginText2{
    font-size: 20pt;
    padding-right: 10px;
}

#passwordInputDiv{
    padding-bottom: 15px;
}

#loginButton{
    font-size: 20pt;
    padding: 5px;
}

.navBarDiv{
    text-align: center;
    margin-top: 1%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 10px;
    border-radius: 2%;
    background-color: rgb(223, 219, 219);
}

.navBarDiv2{
    text-align: center;
    margin-top: 1%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 10px;
    border-radius: 2%;
    background-color: rgb(223, 219, 219);
}

/* body{
    background-color: rgb(124, 188, 189);
} */

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
  table#t01 tr:nth-child(odd) {
   background-color: #fff;
}
table#t01 th {
    
    background: white;
}

.error{
    color: red;
}

.allCharts{
    padding: 5%;
    text-align: center;
}

.chart1{
    height: 500px;
    width: 800px;
    margin: auto;
}

.chart2{
    height: 500px;
    width: 800px;
    margin: auto;
}

.chart3{
    height: 500px;
    width: 800px;
    margin: auto;
}
.adminWelcome{
    background: rgb(223, 219, 219);
    padding: 3px;
    text-align: center;
    align-content: center;
    width: fit-content;
    border: solid 2px #000000;
    border-radius: 5px;
    padding-left: 50px;
    padding-right: 50px
    
}
.adminWelcomeDiv{
    align-content: center;
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.adminTableDiv {
    text-align: center;
}
.adminBody{
    margin: 50px green
}
.adminCaption{
    background:  rgb(223, 219, 219);
    border: solid 2px #000;
    font: caption;
    padding: 1px 1px 2px 2px;
}
.userSettingDiv{
    background:  rgb(223, 219, 219);
    border: solid 2px #000;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom: 10px;
}
.userSetting{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-self: center;
    display: flex;
    align-content: center;
}