#menuItem{
    text-align: center;
    padding: 3px;
    padding-right: 10px;
}

/* body{
    background-color: rgb(124, 188, 189);
} */

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
}

.error{
    color: red;
}

.allCharts{
    padding: 5%;
    text-align: center;
}

.chart1{
    height: 500px;
    width: 800px;
    margin: auto;
}

.chart2{
    height: 500px;
    width: 800px;
    margin: auto;
}

.chart3{
    height: 500px;
    width: 800px;
    margin: auto;
}